<div class = 'SportHeader'>
<h1>Sports Blog Rants: List of all Blogs </h1>
</div>


<% @blogs.each do |b| %><br />
	<div class = "blogcomment">
		<div class = "titleclass">Title:<br /> <%= b.title %><br /><br />
		Sport: <br /><%= b.sport %><br />
		</div>

		<br />

		<div class = "bposttitle">Blog Post:
			<button id = "blogbutton">Go to Blog</button>
			<button id = "commentbutton">Show Comments</button><br /><hr>
			<div class = "bcontent"><%= b.content %></div>
		</div>
		
	
<!-- <hr>	 -->
			<% b.comments.each do |c| %><br />
				<div class ='comment-list'>Comment:<br /><hr>
				<%= c.content %><br />
		
				</div>
			<% end %>
	</div>

	<!-- </div> -->
	
<% end %>
