<div class = 'SportHeader'>
<h1>Sports Blog Rants</h1>
</div>

<div class = 'ListHeader'
<h3>List of all Blogs</h3>
</div>

<% @blogs.each do |b| %>
	<div>
	Title: <%= b.title %> 
	Sport: <%= b.sport %><br />
	</div><br />
	Blog Post:<br />
	<%= b.content %><br />
	
<hr>	
	<% b.comments.each do |c| %>
		<div class ='blog-list'>
		Comment:<br /> <%= c.content %><br />
		
		<hr>
		</div>
	<% end %>
<% end %>
