// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sblogheader {

	font-size: 20px;
	// border: 2px solid black;
	width: 100%;
	position: relative;
	// top: 100px;
	text-align: center;
	height: 150px;

}



.commentheader {

	text-align: center;
	width: 50%;
	position: relative;
	left: 250px;

}

.updatecomment {

	border-style: groove;
    border-width: 7px;
    border-color: coral;
    background-color: #BCCBFF;
    padding-top: 10px;
	text-align: center;
	width: 100%;
	position: relative;
	// left: 50px;
	// bottom: 0px;
	height: 75px;
	font-size: 20px;

}

.commentsubmit {

	text-align: center;
	width: 50%;
	position: relative;
	left: 130px;

}


.clinkcomments {

	text-align: center;
	border-style: groove;
    border-width: 7px;
    border-color: coral;
    background-color: #BCCBFF;
    padding-top: 10px;

}


.commentlinks {

	display: inline-block;

}
































