.content{
  background-color: #E3EAED;
  height: 500px;
  border-radius: 12px;
  margin-left: 10px;
  text-align: center;
  overflow: auto;
  
}

body{
  font-family: Lato;
  background-color: #11141C;

}

h1, h2, h3{
  font-family: Lobster;
}

// .currentuser{
//   // margin-top: 10px;
//   color: #E3EAED;
//   text-align: right;
// }

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  color: #44ABC4;
}

a:hover{
  text-decoration: underline;
}

hr {
  height: 5px;
  background-color: #8DCAE0;
  width: 90%;
  border-radius: 30px;

}

.comment-list {

  border: 2px solid black;
  width: 50%;
  margin-left: 270px;
  border-radius: 30px;
  background-color: #9BE2FF

}

.newcomments {

  border: 2px solid black;
  width: 50%;
  margin-left: 270px;
  border-radius: 30px;
  background-color: #9BE2FF


}



.addcomments {

  border: 2px solid black;
  width: 50%;
  margin-left: 270px;
  border-radius: 30px;
  background-color: #9BE2FF

}











