nav{
  text-transform: uppercase;
  font-family: Lato;
  background-color: #2E2EFF;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  background-image: url("sportsrantslogo.png");
  background-size: 25% 100%;
  background-repeat: no-repeat;


}

nav a:link{
  text-decoration: none;
  color: #E3EAED;
}

nav a:visited{
  color: #E3EAED;
}

nav a:hover{
  text-decoration: underline;
}


#clock {

  font-size: 16px;
  // border: 2px solid black;
  color: white;
  // background-color: lightgrey;
  width: 150px;


}

// a::blog_id {

//   color: black;

// }


.currentuser {

  // border: 2px solid red;
  position: relative;
  top: 35px;
  width: 100%;
  color: white;
  text-align: center;
  margin-left: 20px;


}



















